<footer class="pie">
 <div class="pie__columnas">
 <div class="pie__columna">
 <h3 class="pie__titulo">Conócenos</h3>
 <ul class="pie__lista">
 <li><a class="pie__enlace" aria-disabled="true"
tabindex="-1">Quiénes somos</a></li>
 <li><a class="pie__enlace" aria-disabled="true"
tabindex="-1">Nuestra historia</a></li>
 <li><a class="pie__enlace" aria-disabled="true"
tabindex="-1">Instalaciones</a></li>
 <li><a class="pie__enlace" aria-disabled="true"
tabindex="-1">Equipo</a></li>
 </ul>
 </div>
 <div class="pie__columna">
 <h3 class="pie__titulo">Adopta</h3>
 <ul class="pie__lista">
 <li><a class="pie__enlace" aria-disabled="true"
tabindex="-1">Perros</a></li>
 <li><a class="pie__enlace" aria-disabled="true"
tabindex="-1">Gatos</a></li>
 <li><a class="pie__enlace" aria-disabled="true"
tabindex="-1">Aves</a></li>
 <li><a class="pie__enlace" aria-disabled="true"
tabindex="-1">Conejos</a></li>
 </ul>
 </div>
 <div class="pie__columna">
 <h3 class="pie__titulo">Colabora con nosotros</h3>
 <ul class="pie__lista">
 <li><a class="pie__enlace" aria-disabled="true"
tabindex="-1">Hazte socio</a></li>
 <li><a class="pie__enlace" aria-disabled="true"
tabindex="-1">Apadrina un animal</a></li>
 <li><a class="pie__enlace" aria-disabled="true"
tabindex="-1">Voluntariado</a></li>
 <li><a class="pie__enlace" aria-disabled="true"
tabindex="-1">Dona</a></li>
 </ul>
 </div>
 <div class="pie__columna">
 <h3 class="pie__titulo">Ayuda</h3>
 <ul class="pie__lista">
 <li><a class="pie__enlace" aria-disabled="true"
tabindex="-1">Preguntas frecuentes</a></li>
 <li><a class="pie__enlace" aria-disabled="true"
tabindex="-1">Contacto</a></li>
 <li><a class="pie__enlace" aria-disabled="true"
tabindex="-1">Tienda solidaria</a></li>
 <li><a class="pie__enlace" aria-disabled="true"
tabindex="-1">Noticias</a></li>
 </ul>
 </div>
 </div>
 <div class="pie__inferior">
 <span class="pie__copyright">© 2026 Centro municipal de
acogida · Madrid</span>
 <div class="pie__legal">
 <a class="pie__enlace-legal" aria-disabled="true"
tabindex="-1">Aviso legal</a>
 <a class="pie__enlace-legal" aria-disabled="true"
tabindex="-1">Privacidad</a>
 <a class="pie__enlace-legal" aria-disabled="true"
tabindex="-1">Cookies</a>
 </div>
 </div>
</footer>